<!DOCTYPE html>
<!-- If you want to know how this file works go to 
    http://docs.ghost.org/themes/ and read the default.hbs section.-->
    <html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

        {{! Styles'n'Scripts }}
        <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer">
            <!-- Do not change the code! -->
            <a id="foxyform_embed_link_540037" href="http://www.foxyform.com/">foxyform</a>
            <script type="text/javascript">
            (function(d, t){
               var g = d.createElement(t),
               s = d.getElementsByTagName(t)[0];
               g.src = "http://www.foxyform.com/js.php?id=540037&sec_hash=2e444d02f71&width=350px";
               s.parentNode.insertBefore(g, s);
           }(document, "script"));
            </script>
            <!-- Do not change the code! -->

            <script type="text/javascript"> id = 180971; </script>
            <script type="text/javascript" src="http://kontactr.com/wp.js"></script>
            
        </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        {{! The main JavaScript file for Casper }}
        <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    </body>
    </html>
